@import '../abstract/variaveis';

.produtos{
    width: 100%;
    background-color: $cor-fundo;
    padding: 8px;
}

.produtos .container{
    background-color: #fff;
    padding: 8px;
    border-radius: 8px;
}

.name-section h2{
    margin-left: 0;
    margin-bottom: 8px;
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}